/z2/TSN_TELEGRAM_BOT-master/build/
/z2/TSN_TELEGRAM_BOT-master/dist/
/z2/TSN_TELEGRAM_BOT-master/nbproject/private/
/z2/dist/
/z2/build/
/z2/nbproject/private/
/z3/build/
/z3/dist/
/z3/nbproject/private/
/z3/TSN_JSP_SERVLET-master/build/
/z3/TSN_JSP_SERVLET-master/dist/
/z3/TSN_JSP_SERVLET-master/nbproject/private/
/z4/build/
/z4/dist/
/z4/nbproject/private/
_tests/рк2.png
